<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule 1: Reverse Proxy for API requests to FastAPI -->
        <!-- Any request starting with /api/ will be forwarded to the local Python Uvicorn server running on port 8000 -->
        <rule name="ReverseProxyToAPI" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8001/{R:1}" />
        </rule>

        <!-- Rule 2: React Static Files bypass -->
        <rule name="ReactStaticFiles" stopProcessing="true">
          <match url="assets/.*|images/.*" />
          <action type="None" />
        </rule>

        <!-- Rule 3: React Single Page Application (SPA) Routing -->
        <!-- Redirects any non-file, non-directory, non-API request the index.html so React Router can handle it -->
        <rule name="ReactRouter" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configure MIME types for React build if IIS doesn't have them natively -->
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>
